# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Model files
model/veriface_model.h5

# Dataset
dataset/

# Uploaded files
static/uploads/*
!static/uploads/.gitkeep

# IDE
.vscode/
.idea/

# System
.DS_Store
Thumbs.db